<!doctype html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/enrollapp/css/base.css">

</head>
<body>
{% load socialaccount %}
{% providers_media_js %}



<div class="container">
{% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}">Wyloguj się</a>
{% endif %}
{% block content %}{% endblock %}
</div>


</body>
</html>