<!doctype html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/enrollapp/css/base.css">

</head>
<body>
{% load socialaccount %}
{% providers_media_js %}



{% if user.is_authenticated %}
    <div class="login">
     <strong><a href="{% url 'account_logout' %}?next={{ request.path }}">Wyloguj się</a></strong>
    </div>
{% endif %}

<div class="container">

    {% block content %}{% endblock %}
        <div class="sponsors">
            <a href="http://sklep.bikersport.pl"><img src="/static/enrollapp/img/bs_logo.jpg"></a>
            <a href="http://www.shimano-polska.com/publish/content/global_cycle/pl/pl/index/merken/elite.html"><img src="/static/enrollapp/img/LOGO_ELITE.jpg"></a>
            <a href="http://www.shimano-polska.com/publish/content/global_cycle/pl/pl/index/merken/continental0.html"><img src="/static/enrollapp/img/continental_logo.png"></a>
            <a href="http://www.shimano-polska.com/"><img src="/static/enrollapp/img/Shimano-Logo.jpg"></a>
        </div>
        <p class="footer">© BIKERSPORT 2014</p>
</div>


</body>
</html>